source/html/contacts.pug
extends baseInner.pug
block content
	section(class="content-page")
		div(class="container")
			div(class="row")
				div(class="col-12")
					div(class="section_title pb-4")
						h2(class="title-2 title-2_inner ")
							| Контакты
				div(class="col-12 col-lg-5 d-flex flex-column align-items-start pb-5 pb-lg-0")
					div(class="adres mb-4")
						<svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M12 32C11.3015 32 10.676 31.6378 10.3269 31.031C10.3232 31.0246 10.3196 31.0182 10.3161 31.0117L2.38095 16.4876C0.486825 13.0207 0.541138 8.90559 2.52626 5.47984C4.46833 2.12834 7.91783 0.0807813 11.7537 0.00253125C11.9176 -0.00084375 12.0823 -0.00084375 12.2461 0.00253125C16.082 0.0807813 19.5315 2.12834 21.4736 5.47984C23.4588 8.90559 23.5131 13.0206 21.619 16.4876L13.6838 31.0117C13.6803 31.0182 13.6767 31.0246 13.673 31.031C13.324 31.6377 12.6985 32 12 32ZM12 2.00003C11.9313 2.00003 11.8628 2.00072 11.7944 2.00209C8.6632 2.06597 5.84533 3.74091 4.25664 6.48259C2.62495 9.29853 2.57983 12.6802 4.13601 15.5286L12 29.9223L19.8638 15.5287C21.42 12.6802 21.375 9.29853 19.7431 6.48259C18.1545 3.74097 15.3366 2.06597 12.2054 2.00209C12.1372 2.00072 12.0686 2.00003 12 2.00003Z" fill="#E4097F"/>
							<path d="M12 14.5C9.51869 14.5 7.5 12.4813 7.5 10C7.5 7.51869 9.51869 5.5 12 5.5C14.4813 5.5 16.5 7.51869 16.5 10C16.5 12.4813 14.4814 14.5 12 14.5ZM12 7.5C10.6215 7.5 9.5 8.6215 9.5 10C9.5 11.3785 10.6215 12.5 12 12.5C13.3785 12.5 14.5 11.3785 14.5 10C14.5 8.6215 13.3785 7.5 12 7.5Z" fill="#E4097F"/>
						</svg>
						| Челябинск, ул. Трашутина 17
					a(href="tel:+73512238403" class="link link_phone mb-4")
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
								<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
							</g>
						</svg>
						| +7 (351) 223-84-03
					a(href="tel:+73512238403" class="link link_phone mb-4")
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
								<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
							</g>
						</svg>
						| +7 (351) 223-84-03
					a(href="email:neboleyka74@mail.ru" class="link link_email mb-4")
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<g>
								<path d="M30.3589 5.33331H1.64106C0.738437 5.33331 0 6.07175 0 6.97431V25.0256C0 25.9281 0.738437 26.6667 1.64106 26.6667H30.359C31.2615 26.6667 32.0001 25.9282 32.0001 25.0256V6.97431C32 6.07175 31.2616 5.33331 30.3589 5.33331ZM29.7431 6.564L16.944 16.1641C16.7139 16.3393 16.3606 16.4488 15.9999 16.4472C15.6393 16.4488 15.2861 16.3393 15.0559 16.1641L2.25681 6.564H29.7431ZM22.9062 16.7976L29.8806 25.413C29.8876 25.4216 29.8962 25.4282 29.9036 25.436H2.09637C2.10375 25.4278 2.11238 25.4216 2.11937 25.413L9.09375 16.7976C9.30744 16.5334 9.26694 16.1461 9.00225 15.9319C8.73806 15.7182 8.35075 15.7587 8.137 16.0229L1.23075 24.5543V7.33325L14.3179 17.1486C14.8098 17.515 15.4083 17.6763 15.9999 17.6779C16.5906 17.6766 17.1896 17.5154 17.6819 17.1486L30.769 7.33325V24.5541L23.8629 16.0229C23.6492 15.7587 23.2615 15.7181 22.9977 15.9319C22.7331 16.1456 22.6924 16.5334 22.9062 16.7976Z" fill="#7D71B1"/>
							</g>
						</svg>
						| neboleyka74@mail.ru
					div(class="time")
						<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M16 7.6223C16.2589 7.6223 16.4688 7.41242 16.4688 7.15355V6.46555C16.4688 6.20667 16.2589 5.9968 16 5.9968C15.7411 5.9968 15.5312 6.20667 15.5312 6.46555V7.15355C15.5312 7.41242 15.7411 7.6223 16 7.6223Z" fill="#EF7F1B"/>
							<path d="M23.0475 8.93725C22.8644 8.75418 22.5676 8.75412 22.3846 8.93725L21.8981 9.42368C21.715 9.60675 21.715 9.90356 21.898 10.0866C21.9896 10.1781 22.1095 10.2239 22.2295 10.2239C22.3495 10.2239 22.4695 10.1782 22.561 10.0867L23.0475 9.60018C23.2305 9.41712 23.2305 9.12031 23.0475 8.93725Z" fill="#EF7F1B"/>
							<path d="M24.7959 15.5313C24.537 15.5313 24.3271 15.7412 24.3271 16.0001C24.3271 16.2589 24.537 16.4688 24.7959 16.4688H25.4839C25.7428 16.4688 25.9526 16.259 25.9526 16.0001C25.9526 15.7411 25.7428 15.5313 25.4839 15.5313H24.7959Z" fill="#EF7F1B"/>
							<path d="M22.5248 21.8985C22.3417 21.7155 22.045 21.7155 21.8619 21.8985C21.6788 22.0816 21.6788 22.3784 21.8619 22.5615L22.3483 23.0479C22.4399 23.1394 22.5599 23.1852 22.6798 23.1852C22.7998 23.1852 22.9198 23.1394 23.0113 23.0479C23.1944 22.8648 23.1944 22.568 23.0113 22.385L22.5248 21.8985Z" fill="#EF7F1B"/>
							<path d="M15.4805 24.7956V25.4836C15.4805 25.7425 15.6903 25.9523 15.9492 25.9523C16.2081 25.9523 16.418 25.7425 16.418 25.4836V24.7956C16.418 24.5366 16.2082 24.3268 15.9492 24.3268C15.6903 24.3268 15.4805 24.5366 15.4805 24.7956Z" fill="#EF7F1B"/>
							<path d="M9.38747 21.8623L8.90097 22.3488C8.71791 22.5318 8.71791 22.8287 8.90097 23.0117C8.99247 23.1032 9.11247 23.149 9.23241 23.149C9.35235 23.149 9.47235 23.1032 9.56385 23.0117L10.0503 22.5253C10.2334 22.3422 10.2334 22.0454 10.0503 21.8624C9.86735 21.6793 9.57053 21.6794 9.38747 21.8623Z" fill="#EF7F1B"/>
							<path d="M6.46582 15.4802C6.20695 15.4802 5.99707 15.6901 5.99707 15.949C5.99707 16.2079 6.20695 16.4177 6.46582 16.4177H7.15382C7.4127 16.4177 7.62257 16.2079 7.62257 15.949C7.62257 15.6901 7.4127 15.4802 7.15382 15.4802H6.46582Z" fill="#EF7F1B"/>
							<path d="M10.0865 9.38763L9.60002 8.90113C9.41689 8.71807 9.1202 8.71813 8.93708 8.90113C8.75402 9.08419 8.75408 9.381 8.93708 9.56406L9.42358 10.0505C9.51514 10.1421 9.63508 10.1878 9.75502 10.1878C9.87496 10.1878 9.99496 10.1421 10.0865 10.0505C10.2696 9.86744 10.2695 9.57069 10.0865 9.38763Z" fill="#EF7F1B"/>
							<path d="M17.2567 17.173L20.5955 18.8899C20.8272 19.009 21.109 18.9162 21.2268 18.6874C21.3452 18.4571 21.2545 18.1746 21.0243 18.0561L17.6865 16.3398C17.7087 16.2299 17.7204 16.1162 17.7204 15.9999C17.7204 15.2141 17.1905 14.5502 16.4693 14.3456V9.56763C16.4693 9.30875 16.2595 9.09888 16.0006 9.09888C15.7417 9.09888 15.5318 9.30875 15.5318 9.56763V14.3456C14.9598 14.5079 14.5085 14.9592 14.3462 15.5312H12.0195C11.7607 15.5312 11.5508 15.7411 11.5508 15.9999C11.5508 16.2588 11.7607 16.4687 12.0195 16.4687H14.3462C14.5508 17.1898 15.2148 17.7198 16.0006 17.7198C16.4958 17.7199 16.9426 17.5092 17.2567 17.173ZM16.0005 16.7824C15.5692 16.7824 15.2182 16.4314 15.2182 16C15.2182 15.5686 15.5691 15.2176 16.0005 15.2176C16.4319 15.2176 16.7828 15.5686 16.7828 16C16.7829 16.4314 16.4319 16.7824 16.0005 16.7824Z" fill="#EF7F1B"/>
							<path d="M28.1028 15.5304C28.361 15.5106 28.5542 15.2854 28.5345 15.0272C28.2933 11.8776 26.8825 8.95393 24.5618 6.79462C22.2291 4.624 19.1885 3.42856 16.0001 3.42856C9.06827 3.42856 3.42871 9.06806 3.42871 16C3.42871 22.9319 9.06827 28.5714 16.0001 28.5714C22.5561 28.5714 28.0329 23.5211 28.5344 16.9729C28.5541 16.7148 28.361 16.4896 28.1028 16.4697C27.8457 16.4504 27.6194 16.6432 27.5996 16.9014C27.1366 22.9475 22.0797 27.6339 16.0001 27.6339C9.58515 27.6339 4.36621 22.415 4.36621 16C4.36621 9.585 9.58515 4.36606 16.0001 4.36606C18.9506 4.36606 21.7645 5.47231 23.9232 7.481C26.0708 9.47937 27.3765 12.1847 27.5996 15.0988C27.6194 15.3568 27.8438 15.5506 28.1028 15.5304Z" fill="#EF7F1B"/>
							<path d="M27.3135 4.68631C24.2915 1.66425 20.2736 0 15.9997 0C12.9283 0 9.94456 0.87275 7.37094 2.524C7.15306 2.66381 7.08975 2.95375 7.22956 3.17169C7.36937 3.3895 7.65925 3.45281 7.87725 3.31306C10.2994 1.75894 13.1082 0.9375 15.9997 0.9375C20.0231 0.9375 23.8056 2.50425 26.6506 5.34919C29.4955 8.19413 31.0622 11.9766 31.0622 16C31.0622 24.3246 24.3255 31.0625 15.9997 31.0625C14.5121 31.0625 13.0407 30.8452 11.6265 30.4169C11.3787 30.3418 11.117 30.4818 11.042 30.7297C10.9669 30.9774 11.1069 31.2391 11.3547 31.3142C12.8571 31.7693 14.4199 32 15.9997 32C24.8425 32 31.9997 24.8439 31.9997 16C31.9997 11.7262 30.3354 7.70831 27.3135 4.68631Z" fill="#EF7F1B"/>
							<path d="M9.92225 29.7849C4.46425 27.3749 0.9375 21.9639 0.9375 16C0.9375 11.4932 2.93194 7.25981 6.40938 4.38506C6.60888 4.22013 6.63694 3.92469 6.47194 3.72513C6.30706 3.52569 6.01162 3.49763 5.812 3.6625C2.11844 6.71594 0 11.2127 0 16C0 22.335 3.74606 28.0826 9.5435 30.6426C9.60506 30.6698 9.66938 30.6827 9.73263 30.6827C9.91263 30.6827 10.0843 30.5784 10.1617 30.4031C10.2663 30.1663 10.1591 29.8896 9.92225 29.7849Z" fill="#EF7F1B"/>
						</svg>
						| Пн-Пт 10:00 - 17:00
				div(class="col-12 col-lg-7")
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.6837467503806!2d61.52692831617335!3d55.17130898040187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5f20945822029%3A0x4541f319a1254f49!2z0YPQuy4g0KLRgNCw0YjRg9GC0LjQvdCwLCAxNywg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA3OQ!5e0!3m2!1sru!2sru!4v1599682727355!5m2!1sru!2sru" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
					

release/contacts.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" href="images/favicon.png" sizes="32x32">
    <title>Наболейка</title>
  </head>
  <body><header>
<div class="header-area wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
<div id="sticky-header" class="main-header-area main-header-area-border">
<div class="container-fluid ">
<div class="row align-items-center">
<div class="col-6 col-lg-2">
<div class="logo">
<a class="d-block" href="index.html">
<img class="lazyload" data-src="images/logo.svg" alt="img">
</a>
</div>
</div>
<div class="d-none d-lg-block offset-xl-1 col-lg-3 col-xl-3"><a class="link link_phone" href="tel:+73512238403">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
</g>
</svg>+7 (351) 223-84-03</a></div>
    <div class="d-none d-lg-flex col-lg-6 justify-content-end">
      <div class="d-flex">
        <div class="social-block"><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M12.145 19.5C15.617 19.5 14.379 17.302 14.647 16.67C14.643 16.198 14.639 15.744 14.655 15.468C14.875 15.53 15.394 15.793 16.466 16.835C18.121 18.505 18.544 19.5 19.881 19.5H22.342C23.122 19.5 23.528 19.177 23.731 18.906C23.927 18.644 24.119 18.184 23.909 17.468C23.36 15.744 20.158 12.767 19.959 12.453C19.989 12.395 20.037 12.318 20.062 12.278H20.06C20.692 11.443 23.104 7.82899 23.459 6.38299C23.46 6.38099 23.461 6.37799 23.461 6.37499C23.653 5.71499 23.477 5.28699 23.295 5.04499C23.021 4.68299 22.585 4.49999 21.996 4.49999H19.535C18.711 4.49999 18.086 4.91499 17.77 5.67199C17.241 7.01699 15.755 9.78299 14.641 10.762C14.607 9.37499 14.63 8.31599 14.648 7.52899C14.684 5.99399 14.8 4.49999 13.207 4.49999H9.339C8.341 4.49999 7.386 5.58999 8.42 6.88399C9.324 8.01799 8.745 8.64999 8.94 11.796C8.18 10.981 6.828 8.77999 5.872 5.96699C5.604 5.20599 5.198 4.50099 4.055 4.50099H1.594C0.596 4.50099 0 5.04499 0 5.95599C0 8.00199 4.529 19.5 12.145 19.5ZM4.055 6.00099C4.272 6.00099 4.294 6.00099 4.455 6.45799C5.434 9.34099 7.63 13.607 9.234 13.607C10.439 13.607 10.439 12.372 10.439 11.907L10.438 8.20499C10.372 6.97999 9.926 6.36999 9.633 5.99999L13.141 6.00399C13.143 6.02099 13.121 10.099 13.151 11.087C13.151 12.49 14.265 13.294 16.004 11.534C17.839 9.46299 19.108 6.36699 19.159 6.24099C19.234 6.06099 19.299 5.99999 19.535 5.99999H21.996H22.006C22.005 6.00299 22.005 6.00599 22.004 6.00899C21.779 7.05899 19.558 10.405 18.815 11.444C18.803 11.46 18.792 11.477 18.781 11.494C18.454 12.028 18.188 12.618 18.826 13.448H18.827C18.885 13.518 19.036 13.682 19.256 13.91C19.94 14.616 22.286 17.03 22.494 17.99C22.356 18.012 22.206 17.996 19.881 18.001C19.386 18.001 18.999 17.261 17.522 15.771C16.194 14.479 15.332 13.951 14.547 13.951C13.023 13.951 13.134 15.188 13.148 16.684C13.153 18.306 13.143 17.793 13.154 17.895C13.065 17.93 12.81 18 12.145 18C5.8 18 1.668 7.92899 1.509 6.00399C1.564 5.99899 2.321 6.00199 4.055 6.00099Z" fill="#3F3F3F"/>
</g>
</svg></a><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#3F3F3F"/>
<path d="M12.0001 18.13C15.3801 18.13 18.1301 15.38 18.1301 12C18.1301 8.62001 15.3801 5.87001 12.0001 5.87001C8.62012 5.87001 5.87012 8.62001 5.87012 12C5.87012 15.38 8.62012 18.13 12.0001 18.13ZM12.0001 7.37001C14.5531 7.37001 16.6301 9.44701 16.6301 12C16.6301 14.553 14.5531 16.63 12.0001 16.63C9.44712 16.63 7.37012 14.553 7.37012 12C7.37012 9.44701 9.44712 7.37001 12.0001 7.37001Z" fill="#3F3F3F"/>
<path d="M18.3579 7.36201C19.3439 7.36201 20.0869 6.62201 20.0869 5.64101C20.0869 4.61801 19.3049 3.92001 18.3589 3.92001C17.3729 3.92001 16.6299 4.66001 16.6299 5.64101C16.6299 6.66201 17.4079 7.36201 18.3579 7.36201ZM18.5349 5.47601C18.8509 5.75501 18.1299 6.09401 18.1299 5.64201C18.1299 5.37201 18.4969 5.44201 18.5349 5.47601Z" fill="#3F3F3F"/>
</svg></a></div><a class="link-menu" href="#">Услуги</a><a class="link-menu" href="#">Прайс-лист</a><a class="link-menu" href="#">Отзывы</a><a class="link-menu" href="#">Контакты</a>
      </div>
    </div><div class="d-flex align-items-center justify-content-end d-lg-none col-6 col-xl-2 col-lg-2 ">
<div class="menu_icon">
<a class="clicked_icon" href="#">
<img class="lazyload" data-src="images/burger.svg" alt="img">
</a>
</div>
</div>
<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>
</div>
</header>
<div class="offcanvas_menu">
<div class="offcanvas_header_wrap d-flex justify-content-between align-items-center">
<div class="logo">
<a class="d-block" href="index.html">
<img class="lazyload" data-src="images/logo.svg" alt="img">
</a>
</div>
<div class="close_menu"><img class="lazyload" data-src="images/close.svg" alt="img"></div>
</div>
<div class="offcanvas_menu_inner">
    <nav>
      <ul>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Прайс-лист</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav><div class="Quick_links wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
<ul>
    <li><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M12.145 19.5C15.617 19.5 14.379 17.302 14.647 16.67C14.643 16.198 14.639 15.744 14.655 15.468C14.875 15.53 15.394 15.793 16.466 16.835C18.121 18.505 18.544 19.5 19.881 19.5H22.342C23.122 19.5 23.528 19.177 23.731 18.906C23.927 18.644 24.119 18.184 23.909 17.468C23.36 15.744 20.158 12.767 19.959 12.453C19.989 12.395 20.037 12.318 20.062 12.278H20.06C20.692 11.443 23.104 7.82899 23.459 6.38299C23.46 6.38099 23.461 6.37799 23.461 6.37499C23.653 5.71499 23.477 5.28699 23.295 5.04499C23.021 4.68299 22.585 4.49999 21.996 4.49999H19.535C18.711 4.49999 18.086 4.91499 17.77 5.67199C17.241 7.01699 15.755 9.78299 14.641 10.762C14.607 9.37499 14.63 8.31599 14.648 7.52899C14.684 5.99399 14.8 4.49999 13.207 4.49999H9.339C8.341 4.49999 7.386 5.58999 8.42 6.88399C9.324 8.01799 8.745 8.64999 8.94 11.796C8.18 10.981 6.828 8.77999 5.872 5.96699C5.604 5.20599 5.198 4.50099 4.055 4.50099H1.594C0.596 4.50099 0 5.04499 0 5.95599C0 8.00199 4.529 19.5 12.145 19.5ZM4.055 6.00099C4.272 6.00099 4.294 6.00099 4.455 6.45799C5.434 9.34099 7.63 13.607 9.234 13.607C10.439 13.607 10.439 12.372 10.439 11.907L10.438 8.20499C10.372 6.97999 9.926 6.36999 9.633 5.99999L13.141 6.00399C13.143 6.02099 13.121 10.099 13.151 11.087C13.151 12.49 14.265 13.294 16.004 11.534C17.839 9.46299 19.108 6.36699 19.159 6.24099C19.234 6.06099 19.299 5.99999 19.535 5.99999H21.996H22.006C22.005 6.00299 22.005 6.00599 22.004 6.00899C21.779 7.05899 19.558 10.405 18.815 11.444C18.803 11.46 18.792 11.477 18.781 11.494C18.454 12.028 18.188 12.618 18.826 13.448H18.827C18.885 13.518 19.036 13.682 19.256 13.91C19.94 14.616 22.286 17.03 22.494 17.99C22.356 18.012 22.206 17.996 19.881 18.001C19.386 18.001 18.999 17.261 17.522 15.771C16.194 14.479 15.332 13.951 14.547 13.951C13.023 13.951 13.134 15.188 13.148 16.684C13.153 18.306 13.143 17.793 13.154 17.895C13.065 17.93 12.81 18 12.145 18C5.8 18 1.668 7.92899 1.509 6.00399C1.564 5.99899 2.321 6.00199 4.055 6.00099Z" fill="#3F3F3F"/>
</g>
</svg></a></li>
    <li><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#3F3F3F"/>
<path d="M12.0001 18.13C15.3801 18.13 18.1301 15.38 18.1301 12C18.1301 8.62001 15.3801 5.87001 12.0001 5.87001C8.62012 5.87001 5.87012 8.62001 5.87012 12C5.87012 15.38 8.62012 18.13 12.0001 18.13ZM12.0001 7.37001C14.5531 7.37001 16.6301 9.44701 16.6301 12C16.6301 14.553 14.5531 16.63 12.0001 16.63C9.44712 16.63 7.37012 14.553 7.37012 12C7.37012 9.44701 9.44712 7.37001 12.0001 7.37001Z" fill="#3F3F3F"/>
<path d="M18.3579 7.36201C19.3439 7.36201 20.0869 6.62201 20.0869 5.64101C20.0869 4.61801 19.3049 3.92001 18.3589 3.92001C17.3729 3.92001 16.6299 4.66001 16.6299 5.64101C16.6299 6.66201 17.4079 7.36201 18.3579 7.36201ZM18.5349 5.47601C18.8509 5.75501 18.1299 6.09401 18.1299 5.64201C18.1299 5.37201 18.4969 5.44201 18.5349 5.47601Z" fill="#3F3F3F"/>
</svg></a></li></ul>
</div>
</div>
</div>
    <section class="content-page">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section_title pb-4">
              <h2 class="title-2 title-2_inner ">Контакты</h2>
            </div>
          </div>
          <div class="col-12 col-lg-5 d-flex flex-column align-items-start pb-5 pb-lg-0">
            <div class="adres mb-4">
              <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 32C11.3015 32 10.676 31.6378 10.3269 31.031C10.3232 31.0246 10.3196 31.0182 10.3161 31.0117L2.38095 16.4876C0.486825 13.0207 0.541138 8.90559 2.52626 5.47984C4.46833 2.12834 7.91783 0.0807813 11.7537 0.00253125C11.9176 -0.00084375 12.0823 -0.00084375 12.2461 0.00253125C16.082 0.0807813 19.5315 2.12834 21.4736 5.47984C23.4588 8.90559 23.5131 13.0206 21.619 16.4876L13.6838 31.0117C13.6803 31.0182 13.6767 31.0246 13.673 31.031C13.324 31.6377 12.6985 32 12 32ZM12 2.00003C11.9313 2.00003 11.8628 2.00072 11.7944 2.00209C8.6632 2.06597 5.84533 3.74091 4.25664 6.48259C2.62495 9.29853 2.57983 12.6802 4.13601 15.5286L12 29.9223L19.8638 15.5287C21.42 12.6802 21.375 9.29853 19.7431 6.48259C18.1545 3.74097 15.3366 2.06597 12.2054 2.00209C12.1372 2.00072 12.0686 2.00003 12 2.00003Z" fill="#E4097F"/>
<path d="M12 14.5C9.51869 14.5 7.5 12.4813 7.5 10C7.5 7.51869 9.51869 5.5 12 5.5C14.4813 5.5 16.5 7.51869 16.5 10C16.5 12.4813 14.4814 14.5 12 14.5ZM12 7.5C10.6215 7.5 9.5 8.6215 9.5 10C9.5 11.3785 10.6215 12.5 12 12.5C13.3785 12.5 14.5 11.3785 14.5 10C14.5 8.6215 13.3785 7.5 12 7.5Z" fill="#E4097F"/>
</svg>Челябинск, ул. Трашутина 17
            </div><a class="link link_phone mb-4" href="tel:+73512238403">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
</g>
</svg>+7 (351) 223-84-03</a><a class="link link_phone mb-4" href="tel:+73512238403">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
</g>
</svg>+7 (351) 223-84-03</a><a class="link link_email mb-4" href="email:neboleyka74@mail.ru">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M30.3589 5.33331H1.64106C0.738437 5.33331 0 6.07175 0 6.97431V25.0256C0 25.9281 0.738437 26.6667 1.64106 26.6667H30.359C31.2615 26.6667 32.0001 25.9282 32.0001 25.0256V6.97431C32 6.07175 31.2616 5.33331 30.3589 5.33331ZM29.7431 6.564L16.944 16.1641C16.7139 16.3393 16.3606 16.4488 15.9999 16.4472C15.6393 16.4488 15.2861 16.3393 15.0559 16.1641L2.25681 6.564H29.7431ZM22.9062 16.7976L29.8806 25.413C29.8876 25.4216 29.8962 25.4282 29.9036 25.436H2.09637C2.10375 25.4278 2.11238 25.4216 2.11937 25.413L9.09375 16.7976C9.30744 16.5334 9.26694 16.1461 9.00225 15.9319C8.73806 15.7182 8.35075 15.7587 8.137 16.0229L1.23075 24.5543V7.33325L14.3179 17.1486C14.8098 17.515 15.4083 17.6763 15.9999 17.6779C16.5906 17.6766 17.1896 17.5154 17.6819 17.1486L30.769 7.33325V24.5541L23.8629 16.0229C23.6492 15.7587 23.2615 15.7181 22.9977 15.9319C22.7331 16.1456 22.6924 16.5334 22.9062 16.7976Z" fill="#7D71B1"/>
</g>
</svg>neboleyka74@mail.ru</a>
            <div class="time">
              <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M16 7.6223C16.2589 7.6223 16.4688 7.41242 16.4688 7.15355V6.46555C16.4688 6.20667 16.2589 5.9968 16 5.9968C15.7411 5.9968 15.5312 6.20667 15.5312 6.46555V7.15355C15.5312 7.41242 15.7411 7.6223 16 7.6223Z" fill="#EF7F1B"/>
<path d="M23.0475 8.93725C22.8644 8.75418 22.5676 8.75412 22.3846 8.93725L21.8981 9.42368C21.715 9.60675 21.715 9.90356 21.898 10.0866C21.9896 10.1781 22.1095 10.2239 22.2295 10.2239C22.3495 10.2239 22.4695 10.1782 22.561 10.0867L23.0475 9.60018C23.2305 9.41712 23.2305 9.12031 23.0475 8.93725Z" fill="#EF7F1B"/>
<path d="M24.7959 15.5313C24.537 15.5313 24.3271 15.7412 24.3271 16.0001C24.3271 16.2589 24.537 16.4688 24.7959 16.4688H25.4839C25.7428 16.4688 25.9526 16.259 25.9526 16.0001C25.9526 15.7411 25.7428 15.5313 25.4839 15.5313H24.7959Z" fill="#EF7F1B"/>
<path d="M22.5248 21.8985C22.3417 21.7155 22.045 21.7155 21.8619 21.8985C21.6788 22.0816 21.6788 22.3784 21.8619 22.5615L22.3483 23.0479C22.4399 23.1394 22.5599 23.1852 22.6798 23.1852C22.7998 23.1852 22.9198 23.1394 23.0113 23.0479C23.1944 22.8648 23.1944 22.568 23.0113 22.385L22.5248 21.8985Z" fill="#EF7F1B"/>
<path d="M15.4805 24.7956V25.4836C15.4805 25.7425 15.6903 25.9523 15.9492 25.9523C16.2081 25.9523 16.418 25.7425 16.418 25.4836V24.7956C16.418 24.5366 16.2082 24.3268 15.9492 24.3268C15.6903 24.3268 15.4805 24.5366 15.4805 24.7956Z" fill="#EF7F1B"/>
<path d="M9.38747 21.8623L8.90097 22.3488C8.71791 22.5318 8.71791 22.8287 8.90097 23.0117C8.99247 23.1032 9.11247 23.149 9.23241 23.149C9.35235 23.149 9.47235 23.1032 9.56385 23.0117L10.0503 22.5253C10.2334 22.3422 10.2334 22.0454 10.0503 21.8624C9.86735 21.6793 9.57053 21.6794 9.38747 21.8623Z" fill="#EF7F1B"/>
<path d="M6.46582 15.4802C6.20695 15.4802 5.99707 15.6901 5.99707 15.949C5.99707 16.2079 6.20695 16.4177 6.46582 16.4177H7.15382C7.4127 16.4177 7.62257 16.2079 7.62257 15.949C7.62257 15.6901 7.4127 15.4802 7.15382 15.4802H6.46582Z" fill="#EF7F1B"/>
<path d="M10.0865 9.38763L9.60002 8.90113C9.41689 8.71807 9.1202 8.71813 8.93708 8.90113C8.75402 9.08419 8.75408 9.381 8.93708 9.56406L9.42358 10.0505C9.51514 10.1421 9.63508 10.1878 9.75502 10.1878C9.87496 10.1878 9.99496 10.1421 10.0865 10.0505C10.2696 9.86744 10.2695 9.57069 10.0865 9.38763Z" fill="#EF7F1B"/>
<path d="M17.2567 17.173L20.5955 18.8899C20.8272 19.009 21.109 18.9162 21.2268 18.6874C21.3452 18.4571 21.2545 18.1746 21.0243 18.0561L17.6865 16.3398C17.7087 16.2299 17.7204 16.1162 17.7204 15.9999C17.7204 15.2141 17.1905 14.5502 16.4693 14.3456V9.56763C16.4693 9.30875 16.2595 9.09888 16.0006 9.09888C15.7417 9.09888 15.5318 9.30875 15.5318 9.56763V14.3456C14.9598 14.5079 14.5085 14.9592 14.3462 15.5312H12.0195C11.7607 15.5312 11.5508 15.7411 11.5508 15.9999C11.5508 16.2588 11.7607 16.4687 12.0195 16.4687H14.3462C14.5508 17.1898 15.2148 17.7198 16.0006 17.7198C16.4958 17.7199 16.9426 17.5092 17.2567 17.173ZM16.0005 16.7824C15.5692 16.7824 15.2182 16.4314 15.2182 16C15.2182 15.5686 15.5691 15.2176 16.0005 15.2176C16.4319 15.2176 16.7828 15.5686 16.7828 16C16.7829 16.4314 16.4319 16.7824 16.0005 16.7824Z" fill="#EF7F1B"/>
<path d="M28.1028 15.5304C28.361 15.5106 28.5542 15.2854 28.5345 15.0272C28.2933 11.8776 26.8825 8.95393 24.5618 6.79462C22.2291 4.624 19.1885 3.42856 16.0001 3.42856C9.06827 3.42856 3.42871 9.06806 3.42871 16C3.42871 22.9319 9.06827 28.5714 16.0001 28.5714C22.5561 28.5714 28.0329 23.5211 28.5344 16.9729C28.5541 16.7148 28.361 16.4896 28.1028 16.4697C27.8457 16.4504 27.6194 16.6432 27.5996 16.9014C27.1366 22.9475 22.0797 27.6339 16.0001 27.6339C9.58515 27.6339 4.36621 22.415 4.36621 16C4.36621 9.585 9.58515 4.36606 16.0001 4.36606C18.9506 4.36606 21.7645 5.47231 23.9232 7.481C26.0708 9.47937 27.3765 12.1847 27.5996 15.0988C27.6194 15.3568 27.8438 15.5506 28.1028 15.5304Z" fill="#EF7F1B"/>
<path d="M27.3135 4.68631C24.2915 1.66425 20.2736 0 15.9997 0C12.9283 0 9.94456 0.87275 7.37094 2.524C7.15306 2.66381 7.08975 2.95375 7.22956 3.17169C7.36937 3.3895 7.65925 3.45281 7.87725 3.31306C10.2994 1.75894 13.1082 0.9375 15.9997 0.9375C20.0231 0.9375 23.8056 2.50425 26.6506 5.34919C29.4955 8.19413 31.0622 11.9766 31.0622 16C31.0622 24.3246 24.3255 31.0625 15.9997 31.0625C14.5121 31.0625 13.0407 30.8452 11.6265 30.4169C11.3787 30.3418 11.117 30.4818 11.042 30.7297C10.9669 30.9774 11.1069 31.2391 11.3547 31.3142C12.8571 31.7693 14.4199 32 15.9997 32C24.8425 32 31.9997 24.8439 31.9997 16C31.9997 11.7262 30.3354 7.70831 27.3135 4.68631Z" fill="#EF7F1B"/>
<path d="M9.92225 29.7849C4.46425 27.3749 0.9375 21.9639 0.9375 16C0.9375 11.4932 2.93194 7.25981 6.40938 4.38506C6.60888 4.22013 6.63694 3.92469 6.47194 3.72513C6.30706 3.52569 6.01162 3.49763 5.812 3.6625C2.11844 6.71594 0 11.2127 0 16C0 22.335 3.74606 28.0826 9.5435 30.6426C9.60506 30.6698 9.66938 30.6827 9.73263 30.6827C9.91263 30.6827 10.0843 30.5784 10.1617 30.4031C10.2663 30.1663 10.1591 29.8896 9.92225 29.7849Z" fill="#EF7F1B"/>
</svg>Пн-Пт 10:00 - 17:00
            </div>
          </div>
          <div class="col-12 col-lg-7"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2278.6837467503806!2d61.52692831617335!3d55.17130898040187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c5f20945822029%3A0x4541f319a1254f49!2z0YPQuy4g0KLRgNCw0YjRg9GC0LjQvdCwLCAxNywg0KfQtdC70Y_QsdC40L3RgdC6LCDQp9C10LvRj9Cx0LjQvdGB0LrQsNGPINC-0LHQuy4sIDQ1NDA3OQ!5e0!3m2!1sru!2sru!4v1599682727355!5m2!1sru!2sru" width="100%" height="320" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-top-line">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex flex-column align-items-center">
              <div class="logo"><a class="d-block mb-4" href="#">
<img class="lazyload" data-src="images/logo.svg" alt="img">
</a>
              </div><a class="link link_phone mb-4" href="tel:+73512238403">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
</g>
</svg>+7 (351) 223-84-03</a>
              <div class="adres">
                <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 32C11.3015 32 10.676 31.6378 10.3269 31.031C10.3232 31.0246 10.3196 31.0182 10.3161 31.0117L2.38095 16.4876C0.486825 13.0207 0.541138 8.90559 2.52626 5.47984C4.46833 2.12834 7.91783 0.0807813 11.7537 0.00253125C11.9176 -0.00084375 12.0823 -0.00084375 12.2461 0.00253125C16.082 0.0807813 19.5315 2.12834 21.4736 5.47984C23.4588 8.90559 23.5131 13.0206 21.619 16.4876L13.6838 31.0117C13.6803 31.0182 13.6767 31.0246 13.673 31.031C13.324 31.6377 12.6985 32 12 32ZM12 2.00003C11.9313 2.00003 11.8628 2.00072 11.7944 2.00209C8.6632 2.06597 5.84533 3.74091 4.25664 6.48259C2.62495 9.29853 2.57983 12.6802 4.13601 15.5286L12 29.9223L19.8638 15.5287C21.42 12.6802 21.375 9.29853 19.7431 6.48259C18.1545 3.74097 15.3366 2.06597 12.2054 2.00209C12.1372 2.00072 12.0686 2.00003 12 2.00003Z" fill="#E4097F"/>
<path d="M12 14.5C9.51869 14.5 7.5 12.4813 7.5 10C7.5 7.51869 9.51869 5.5 12 5.5C14.4813 5.5 16.5 7.51869 16.5 10C16.5 12.4813 14.4814 14.5 12 14.5ZM12 7.5C10.6215 7.5 9.5 8.6215 9.5 10C9.5 11.3785 10.6215 12.5 12 12.5C13.3785 12.5 14.5 11.3785 14.5 10C14.5 8.6215 13.3785 7.5 12 7.5Z" fill="#E4097F"/>
</svg>Челябинск, ул. Трашутина 17
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-line d-flex flex-column flex-lg-row justify-content-between align-items-center"><a class="mb-3 mb-lg-0" href="#">Политика конфиденциальности</a><a href="#">Разработка сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
