source/html/service-inner.pug
extends baseInner.pug
block content
	section(class="service-inner")
		<div class="service_area">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section_title">
							h2(class="title-2 title-2_inner")
								| Оформление всех видов справок
						</div>
					</div>
				</div>
				div(class="row")
					div(class="col-12 col-lg-6 pb-5")
						div(class="row pb-4")
							div(class="col-12 col-lg-6")
								ul
									li
										| для посещения спортивных секций и кружков
									li
										| для детского садика
									li
										| для танцевальной школы
							div(class="col-12 col-lg-6")
								ul
									li
										| для бассейна
									li
										| для школы
									li
										| для путевки на санаторно курортное лечение
						div(class="line")
						div(class="row  pt-4")
							div(class="col-12 col-lg-6")
								span(class="price-first")
									| 450 рублей
							div(class="col-12 col-lg-6")
								span(class="price-second")
									| от 600 рублей на дом
							div(class="col-12 pt-5 mt-4")
								a(class="btn btn_rare" href="#")
									| записаться
					div(class="col-12 col-lg-6")
						img(class="lazyload img-fluid w-100" data-src="images/service-inner.png" alt="img")
			</div>
		</div>
	<div class="hire_area paralax_bg m-0" >
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-12 col-lg-10">
					<div class="section_title text-center">
						<span>консультация</span>
						<h2 class="title-2">Нужна консультация специалиста? просто оставьте ваш номер телефона</h2>
						<div class="hire_btn ">
							<a  class="btn" href="#">оставить заявку</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	section(class="info-block")
		div(class="container")
			div(class="row")
				div(class="col-12")
					h2()
						| Все виды справок
					p
						| Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.
					p
						| В нашем центре вы можете оформить следующие виды справок: справка в детский сад и школу ,справка в бассейн, справка в спортивную или танцевальную секцию, справка для получения путевки на санаторно-курортное лечение.
					p
						| Так же вы можете в нашем центре оформить медицинский карты для поступления с ДДУ и школу ,прививочные сертификаты.
					p
						| ВНИМАНИЕ!!Возможно потребуются дополнительные исследования!

release/service-inner.html
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="icon" href="images/favicon.png" sizes="32x32">
    <title>Наболейка</title>
  </head>
  <body><header>
<div class="header-area wow fadeInUp" data-wow-duration="1s" data-wow-delay="0s">
<div id="sticky-header" class="main-header-area main-header-area-border">
<div class="container-fluid ">
<div class="row align-items-center">
<div class="col-6 col-lg-2">
<div class="logo">
<a class="d-block" href="index.html">
<img class="lazyload" data-src="images/logo.svg" alt="img">
</a>
</div>
</div>
<div class="d-none d-lg-block offset-xl-1 col-lg-3 col-xl-3"><a class="link link_phone" href="tel:+73512238403">
      <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
</g>
</svg>+7 (351) 223-84-03</a></div>
    <div class="d-none d-lg-flex col-lg-6 justify-content-end">
      <div class="d-flex">
        <div class="social-block"><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M12.145 19.5C15.617 19.5 14.379 17.302 14.647 16.67C14.643 16.198 14.639 15.744 14.655 15.468C14.875 15.53 15.394 15.793 16.466 16.835C18.121 18.505 18.544 19.5 19.881 19.5H22.342C23.122 19.5 23.528 19.177 23.731 18.906C23.927 18.644 24.119 18.184 23.909 17.468C23.36 15.744 20.158 12.767 19.959 12.453C19.989 12.395 20.037 12.318 20.062 12.278H20.06C20.692 11.443 23.104 7.82899 23.459 6.38299C23.46 6.38099 23.461 6.37799 23.461 6.37499C23.653 5.71499 23.477 5.28699 23.295 5.04499C23.021 4.68299 22.585 4.49999 21.996 4.49999H19.535C18.711 4.49999 18.086 4.91499 17.77 5.67199C17.241 7.01699 15.755 9.78299 14.641 10.762C14.607 9.37499 14.63 8.31599 14.648 7.52899C14.684 5.99399 14.8 4.49999 13.207 4.49999H9.339C8.341 4.49999 7.386 5.58999 8.42 6.88399C9.324 8.01799 8.745 8.64999 8.94 11.796C8.18 10.981 6.828 8.77999 5.872 5.96699C5.604 5.20599 5.198 4.50099 4.055 4.50099H1.594C0.596 4.50099 0 5.04499 0 5.95599C0 8.00199 4.529 19.5 12.145 19.5ZM4.055 6.00099C4.272 6.00099 4.294 6.00099 4.455 6.45799C5.434 9.34099 7.63 13.607 9.234 13.607C10.439 13.607 10.439 12.372 10.439 11.907L10.438 8.20499C10.372 6.97999 9.926 6.36999 9.633 5.99999L13.141 6.00399C13.143 6.02099 13.121 10.099 13.151 11.087C13.151 12.49 14.265 13.294 16.004 11.534C17.839 9.46299 19.108 6.36699 19.159 6.24099C19.234 6.06099 19.299 5.99999 19.535 5.99999H21.996H22.006C22.005 6.00299 22.005 6.00599 22.004 6.00899C21.779 7.05899 19.558 10.405 18.815 11.444C18.803 11.46 18.792 11.477 18.781 11.494C18.454 12.028 18.188 12.618 18.826 13.448H18.827C18.885 13.518 19.036 13.682 19.256 13.91C19.94 14.616 22.286 17.03 22.494 17.99C22.356 18.012 22.206 17.996 19.881 18.001C19.386 18.001 18.999 17.261 17.522 15.771C16.194 14.479 15.332 13.951 14.547 13.951C13.023 13.951 13.134 15.188 13.148 16.684C13.153 18.306 13.143 17.793 13.154 17.895C13.065 17.93 12.81 18 12.145 18C5.8 18 1.668 7.92899 1.509 6.00399C1.564 5.99899 2.321 6.00199 4.055 6.00099Z" fill="#3F3F3F"/>
</g>
</svg></a><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#3F3F3F"/>
<path d="M12.0001 18.13C15.3801 18.13 18.1301 15.38 18.1301 12C18.1301 8.62001 15.3801 5.87001 12.0001 5.87001C8.62012 5.87001 5.87012 8.62001 5.87012 12C5.87012 15.38 8.62012 18.13 12.0001 18.13ZM12.0001 7.37001C14.5531 7.37001 16.6301 9.44701 16.6301 12C16.6301 14.553 14.5531 16.63 12.0001 16.63C9.44712 16.63 7.37012 14.553 7.37012 12C7.37012 9.44701 9.44712 7.37001 12.0001 7.37001Z" fill="#3F3F3F"/>
<path d="M18.3579 7.36201C19.3439 7.36201 20.0869 6.62201 20.0869 5.64101C20.0869 4.61801 19.3049 3.92001 18.3589 3.92001C17.3729 3.92001 16.6299 4.66001 16.6299 5.64101C16.6299 6.66201 17.4079 7.36201 18.3579 7.36201ZM18.5349 5.47601C18.8509 5.75501 18.1299 6.09401 18.1299 5.64201C18.1299 5.37201 18.4969 5.44201 18.5349 5.47601Z" fill="#3F3F3F"/>
</svg></a></div><a class="link-menu" href="#">Услуги</a><a class="link-menu" href="#">Прайс-лист</a><a class="link-menu" href="#">Отзывы</a><a class="link-menu" href="#">Контакты</a>
      </div>
    </div><div class="d-flex align-items-center justify-content-end d-lg-none col-6 col-xl-2 col-lg-2 ">
<div class="menu_icon">
<a class="clicked_icon" href="#">
<img class="lazyload" data-src="images/burger.svg" alt="img">
</a>
</div>
</div>
<div class="col-12">
<div class="mobile_menu d-block d-lg-none"></div>
</div>
</div>
</div>
</div>
</div>
</header>
<div class="offcanvas_menu">
<div class="offcanvas_header_wrap d-flex justify-content-between align-items-center">
<div class="logo">
<a class="d-block" href="index.html">
<img class="lazyload" data-src="images/logo.svg" alt="img">
</a>
</div>
<div class="close_menu"><img class="lazyload" data-src="images/close.svg" alt="img"></div>
</div>
<div class="offcanvas_menu_inner">
    <nav>
      <ul>
        <li><a href="#">Услуги</a></li>
        <li><a href="#">Прайс-лист</a></li>
        <li><a href="#">Отзывы</a></li>
        <li><a href="#">Контакты</a></li>
      </ul>
    </nav><div class="Quick_links wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".6s">
<ul>
    <li><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M12.145 19.5C15.617 19.5 14.379 17.302 14.647 16.67C14.643 16.198 14.639 15.744 14.655 15.468C14.875 15.53 15.394 15.793 16.466 16.835C18.121 18.505 18.544 19.5 19.881 19.5H22.342C23.122 19.5 23.528 19.177 23.731 18.906C23.927 18.644 24.119 18.184 23.909 17.468C23.36 15.744 20.158 12.767 19.959 12.453C19.989 12.395 20.037 12.318 20.062 12.278H20.06C20.692 11.443 23.104 7.82899 23.459 6.38299C23.46 6.38099 23.461 6.37799 23.461 6.37499C23.653 5.71499 23.477 5.28699 23.295 5.04499C23.021 4.68299 22.585 4.49999 21.996 4.49999H19.535C18.711 4.49999 18.086 4.91499 17.77 5.67199C17.241 7.01699 15.755 9.78299 14.641 10.762C14.607 9.37499 14.63 8.31599 14.648 7.52899C14.684 5.99399 14.8 4.49999 13.207 4.49999H9.339C8.341 4.49999 7.386 5.58999 8.42 6.88399C9.324 8.01799 8.745 8.64999 8.94 11.796C8.18 10.981 6.828 8.77999 5.872 5.96699C5.604 5.20599 5.198 4.50099 4.055 4.50099H1.594C0.596 4.50099 0 5.04499 0 5.95599C0 8.00199 4.529 19.5 12.145 19.5ZM4.055 6.00099C4.272 6.00099 4.294 6.00099 4.455 6.45799C5.434 9.34099 7.63 13.607 9.234 13.607C10.439 13.607 10.439 12.372 10.439 11.907L10.438 8.20499C10.372 6.97999 9.926 6.36999 9.633 5.99999L13.141 6.00399C13.143 6.02099 13.121 10.099 13.151 11.087C13.151 12.49 14.265 13.294 16.004 11.534C17.839 9.46299 19.108 6.36699 19.159 6.24099C19.234 6.06099 19.299 5.99999 19.535 5.99999H21.996H22.006C22.005 6.00299 22.005 6.00599 22.004 6.00899C21.779 7.05899 19.558 10.405 18.815 11.444C18.803 11.46 18.792 11.477 18.781 11.494C18.454 12.028 18.188 12.618 18.826 13.448H18.827C18.885 13.518 19.036 13.682 19.256 13.91C19.94 14.616 22.286 17.03 22.494 17.99C22.356 18.012 22.206 17.996 19.881 18.001C19.386 18.001 18.999 17.261 17.522 15.771C16.194 14.479 15.332 13.951 14.547 13.951C13.023 13.951 13.134 15.188 13.148 16.684C13.153 18.306 13.143 17.793 13.154 17.895C13.065 17.93 12.81 18 12.145 18C5.8 18 1.668 7.92899 1.509 6.00399C1.564 5.99899 2.321 6.00199 4.055 6.00099Z" fill="#3F3F3F"/>
</g>
</svg></a></li>
    <li><a class="social-block__item" href="#"><svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M4.75 24H19.25C21.869 24 24 21.869 24 19.25V4.75C24 2.131 21.869 0 19.25 0H4.75C2.131 0 0 2.131 0 4.75V19.25C0 21.869 2.131 24 4.75 24ZM1.5 4.75C1.5 2.958 2.958 1.5 4.75 1.5H19.25C21.042 1.5 22.5 2.958 22.5 4.75V19.25C22.5 21.042 21.042 22.5 19.25 22.5H4.75C2.958 22.5 1.5 21.042 1.5 19.25V4.75Z" fill="#3F3F3F"/>
<path d="M12.0001 18.13C15.3801 18.13 18.1301 15.38 18.1301 12C18.1301 8.62001 15.3801 5.87001 12.0001 5.87001C8.62012 5.87001 5.87012 8.62001 5.87012 12C5.87012 15.38 8.62012 18.13 12.0001 18.13ZM12.0001 7.37001C14.5531 7.37001 16.6301 9.44701 16.6301 12C16.6301 14.553 14.5531 16.63 12.0001 16.63C9.44712 16.63 7.37012 14.553 7.37012 12C7.37012 9.44701 9.44712 7.37001 12.0001 7.37001Z" fill="#3F3F3F"/>
<path d="M18.3579 7.36201C19.3439 7.36201 20.0869 6.62201 20.0869 5.64101C20.0869 4.61801 19.3049 3.92001 18.3589 3.92001C17.3729 3.92001 16.6299 4.66001 16.6299 5.64101C16.6299 6.66201 17.4079 7.36201 18.3579 7.36201ZM18.5349 5.47601C18.8509 5.75501 18.1299 6.09401 18.1299 5.64201C18.1299 5.37201 18.4969 5.44201 18.5349 5.47601Z" fill="#3F3F3F"/>
</svg></a></li></ul>
</div>
</div>
</div>
    <section class="service-inner"><div class="service_area">
<div class="container">
<div class="row">
<div class="col-lg-12">
<div class="section_title">
      <h2 class="title-2 title-2_inner">Оформление всех видов справок</h2></div>
</div>
</div>
      <div class="row">
        <div class="col-12 col-lg-6 pb-5">
          <div class="row pb-4">
            <div class="col-12 col-lg-6">
              <ul>
                <li>для посещения спортивных секций и кружков</li>
                <li>для детского садика</li>
                <li>для танцевальной школы</li>
              </ul>
            </div>
            <div class="col-12 col-lg-6">
              <ul>
                <li>для бассейна</li>
                <li>для школы</li>
                <li>для путевки на санаторно курортное лечение</li>
              </ul>
            </div>
          </div>
          <div class="line"></div>
          <div class="row  pt-4">
            <div class="col-12 col-lg-6"><span class="price-first">450 рублей</span></div>
            <div class="col-12 col-lg-6"><span class="price-second">от 600 рублей на дом</span></div>
            <div class="col-12 pt-5 mt-4"><a class="btn btn_rare" href="#">записаться</a></div>
          </div>
        </div>
        <div class="col-12 col-lg-6"><img class="lazyload img-fluid w-100" data-src="images/service-inner.png" alt="img"></div>
      </div></div>
</div>
    </section><div class="hire_area paralax_bg m-0" >
<div class="container">
<div class="row justify-content-center">
<div class="col-12 col-lg-10">
<div class="section_title text-center">
<span>консультация</span>
<h2 class="title-2">Нужна консультация специалиста? просто оставьте ваш номер телефона</h2>
<div class="hire_btn ">
<a  class="btn" href="#">оставить заявку</a>
</div>
</div>
</div>
</div>
</div>
</div>
    <section class="info-block">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2>Все виды справок</h2>
            <p>Очень значимый раздел работы врача педиатра – оформление медицинской документации. При необходимости посещения Вашим ребенком любого вновь создаваемого коллектива (летний лагерь) или возвращения после отсутствия в школу или детский сад Вам приходиться представлять те или иные документы, подтверждающие факт здоровья Вашего ребенка, возможность начать или продолжить занятия в том или ином учреждении.</p>
            <p>В нашем центре вы можете оформить следующие виды справок: справка в детский сад и школу ,справка в бассейн, справка в спортивную или танцевальную секцию, справка для получения путевки на санаторно-курортное лечение.</p>
            <p>Так же вы можете в нашем центре оформить медицинский карты для поступления с ДДУ и школу ,прививочные сертификаты.</p>
            <p>ВНИМАНИЕ!!Возможно потребуются дополнительные исследования!</p>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer">
      <div class="footer-top-line">
        <div class="container">
          <div class="row">
            <div class="col-12 d-flex flex-column align-items-center">
              <div class="logo"><a class="d-block mb-4" href="#">
<img class="lazyload" data-src="images/logo.svg" alt="img">
</a>
              </div><a class="link link_phone mb-4" href="tel:+73512238403">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<g>
<path d="M27.0541 4.54725C20.7766 -1.51575 10.8243 -1.51575 4.54679 4.54725C-1.66845 10.9824 -1.4902 21.2374 4.94493 27.4527C11.2224 33.5157 21.1747 33.5157 27.4522 27.4527C33.6675 21.0176 33.4892 10.7625 27.0541 4.54725ZM26.6909 26.6913L26.6855 26.686C20.7784 32.5877 11.2055 32.5833 5.30384 26.6762C-0.597857 20.7691 -0.593491 11.1963 5.31359 5.29462C11.2207 -0.607084 20.7935 -0.602718 26.6952 5.3043C29.53 8.14166 31.1213 11.9891 31.1187 16C31.1189 20.0099 29.5262 23.8557 26.6909 26.6913Z" fill="#01A0E2"/>
<path d="M25.0984 20.6113L22.0638 17.5875C21.3751 16.8971 20.2571 16.8958 19.5668 17.5845C19.5658 17.5855 19.5648 17.5865 19.5638 17.5875L17.8251 19.3262C17.6936 19.458 17.4863 19.4763 17.3338 19.3694C16.3821 18.7043 15.4913 17.9562 14.6718 17.1339C13.9377 16.4015 13.2625 15.6126 12.6523 14.7742C12.5416 14.6236 12.5577 14.4148 12.69 14.2829L14.4719 12.501C15.1599 11.8117 15.1599 10.6956 14.4719 10.0063L11.4373 6.97172C10.738 6.3032 9.63657 6.3032 8.93729 6.97172L7.97617 7.93285C6.52465 9.36805 6.00647 11.4991 6.63703 13.4405C7.10756 14.8609 7.77267 16.2092 8.61331 17.4471C9.37011 18.5819 10.2383 19.6382 11.2052 20.6005C12.2563 21.6591 13.4206 22.5989 14.6771 23.4029C16.0585 24.3043 17.5752 24.9788 19.1696 25.4008C19.5796 25.5019 20.0002 25.5526 20.4223 25.552C21.8696 25.5431 23.2541 24.9606 24.2723 23.9321L25.0985 23.1059C25.7864 22.4167 25.7864 21.3006 25.0984 20.6113ZM24.3338 22.3695C24.3331 22.3702 24.3324 22.371 24.3316 22.3716L24.337 22.3554L23.5109 23.1816C22.4494 24.2565 20.9034 24.6987 19.4341 24.3479C17.9537 23.9517 16.5464 23.3209 15.2655 22.4797C14.0756 21.7191 12.9728 20.8301 11.9771 19.8284C11.0611 18.919 10.2381 17.9205 9.52027 16.8478C8.73512 15.6935 8.11367 14.436 7.67358 13.1112C7.16907 11.5548 7.58714 9.84699 8.75354 8.69964L9.71466 7.73852C9.98188 7.4701 10.4161 7.46915 10.6844 7.73637C10.6851 7.73707 10.6859 7.73776 10.6866 7.73852L13.7212 10.7731C13.9896 11.0403 13.9906 11.4746 13.7234 11.7429C13.7227 11.7436 13.722 11.7443 13.7212 11.7451L11.9393 13.527C11.428 14.0327 11.3637 14.8363 11.7881 15.4169C12.4326 16.3014 13.1458 17.1337 13.921 17.9061C14.7853 18.7742 15.7249 19.5638 16.7288 20.2658C17.3089 20.6704 18.0953 20.6022 18.5971 20.1038L20.3196 18.3543C20.5868 18.0859 21.021 18.085 21.2894 18.3522C21.2901 18.3529 21.2908 18.3536 21.2915 18.3543L24.3316 21.3998C24.6001 21.6669 24.601 22.1011 24.3338 22.3695Z" fill="#01A0E2"/>
</g>
</svg>+7 (351) 223-84-03</a>
              <div class="adres">
                <svg width="24" height="32" viewBox="0 0 24 32" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M12 32C11.3015 32 10.676 31.6378 10.3269 31.031C10.3232 31.0246 10.3196 31.0182 10.3161 31.0117L2.38095 16.4876C0.486825 13.0207 0.541138 8.90559 2.52626 5.47984C4.46833 2.12834 7.91783 0.0807813 11.7537 0.00253125C11.9176 -0.00084375 12.0823 -0.00084375 12.2461 0.00253125C16.082 0.0807813 19.5315 2.12834 21.4736 5.47984C23.4588 8.90559 23.5131 13.0206 21.619 16.4876L13.6838 31.0117C13.6803 31.0182 13.6767 31.0246 13.673 31.031C13.324 31.6377 12.6985 32 12 32ZM12 2.00003C11.9313 2.00003 11.8628 2.00072 11.7944 2.00209C8.6632 2.06597 5.84533 3.74091 4.25664 6.48259C2.62495 9.29853 2.57983 12.6802 4.13601 15.5286L12 29.9223L19.8638 15.5287C21.42 12.6802 21.375 9.29853 19.7431 6.48259C18.1545 3.74097 15.3366 2.06597 12.2054 2.00209C12.1372 2.00072 12.0686 2.00003 12 2.00003Z" fill="#E4097F"/>
<path d="M12 14.5C9.51869 14.5 7.5 12.4813 7.5 10C7.5 7.51869 9.51869 5.5 12 5.5C14.4813 5.5 16.5 7.51869 16.5 10C16.5 12.4813 14.4814 14.5 12 14.5ZM12 7.5C10.6215 7.5 9.5 8.6215 9.5 10C9.5 11.3785 10.6215 12.5 12 12.5C13.3785 12.5 14.5 11.3785 14.5 10C14.5 8.6215 13.3785 7.5 12 7.5Z" fill="#E4097F"/>
</svg>Челябинск, ул. Трашутина 17
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="footer-bottom-line d-flex flex-column flex-lg-row justify-content-between align-items-center"><a class="mb-3 mb-lg-0" href="#">Политика конфиденциальности</a><a href="#">Разработка сайта DEKSIS.RU</a></div>
          </div>
        </div>
      </div>
    </footer>
    <script src="js/main.min.js"></script>
  </body>
</html>
